/*
Theme Name: Oblique Child
Description: Oblique Child Theme
Author: SHAKE
Template: oblique
Version: 1.0
*/

@import url("../oblique/style.css");

.clearfix {
    clear: both;
    display: block;
    content: '';
}

.page-header-content {
	margin: 0;
	background-color: #17191B;
    color: #aaa;
	border: 0;
	padding: 30px;
	margin-top: -1px;
    font-size: 18px;
}
.page-header-video {
    width: 100%;
    max-width: 560px;
    float: right;
    margin-left: 30px;
}


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* padding-top: 30px; */
    height: 0;
    overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content-timeago-header {
    display: block;
    text-align: center;
    font-size: 20px;
    color: #ddd;
    margin: 20px 0 50px 0;
}

.grid-layout .entry-content .fluid-width-video-wrapper {
    margin: 15px auto;
}

.post.category-diversos .post-inner {
    background-color: #ffd;
}

.social-navigation li a[href*="github.com"]::before {
    content: "\f09b";
}
.grid-layout {
    margin:auto;
}

/**
 * Side Menu
 */
#secondary {
    background: rgba(0,0,0,.7);
}
.slicknav_nav li {
    border-bottom-style: dotted;
}

